<p-toast></p-toast>
<div class="card max-w-30rem m-auto mt-8">
    <form [formGroup]="signinForm" (ngSubmit)="signin()">
        <div class="field">
            <label for="Fullname" class="block">Full name</label>
            <input id="Fullname" type="text" name="fullname" formControlName="fullname" pInputText class="w-full">
        </div>
        <div class="field">
            <label for="Email">Email</label>
            <input id="Email" type="email" name="email" formControlName="email" pInputText class="w-full">
        </div>
        <div class="field">
            <label for="Password" class="block">Password</label>
            <p-password id="Password" formControlName="password" name="password" styleClass="w-full"
                inputStyleClass="w-full">
            </p-password>
        </div>
        <div class="field">
            <button type="submit" pButton label="Submit"></button>
        </div>
    </form>
</div>